/* kortright blue hsl(207.8,82.7%,36.3%)
#1062a9;
 */


:root {
    --accent1: hsl(207.8,82.7%,36.3%);
    max-width: 900px;
    
    
    box-sizing: content-box;  
    /* not inherited; default is content-box; this line is a reminder */



}

h1 a:visited {
    color: var(--accent1)
}

a:target {
    color: var(--accent1)
}

h1  {
border-bottom : 5px solid var(--accent1);
font-family: serif;
font-size: 500%;
color: var(--accent1);
text-align: center;
}

body {
    font-family: sans-serif;
    border: solid 5px var(--accent1);
    padding: 10px;
    line-height: 1.25em;
    text-align: center;
}
