/* Reminders

HTML details hides content until asked for
https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/details 

*/

.cssrev::after{
    content: " css rev 2025-06-27-1351";
    font-size: 3;
    color: var(--accentMain);
}

:root {
    --kortrightblue: #1062a9;
    /* --accent1: hsl(208, 75%, 40%); */
    --accentMain: #196bb3;
    --accentMed: hsl(209, 49%, 90%);
    --accentLight: hsl(209, 41%, 95%);
    --contrastMain: #B32B19;
    /* --accent1: #ff0000; */


    box-sizing: content-box;
    /* not inherited; default is content-box; this line is a reminder */

    font-family: Helvetica, sans-serif;

}

body {

    margin: auto;
    max-width: 900px;
    text-align: left;
    line-height: 1.5;
    border: hidden 1px;
}

a {
    color: var(--accentMain);
    text-decoration: underline;
    font-weight: bold;
    overflow-wrap: anywhere;
}

header a,
h1 a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    /* border-bottom: 2px solid var(--accentMain); */
    /* border: 1px solid var(--accentMain); */
    background-color: var(--accentMed);


}


header {
    margin:0;
    padding: 0rex 2rex 2rex 2rex;

    border-width: 1rex 1rex 0 1rex;
    border-style: solid;
    border-color: var(--accentMain);
    text-align: center;
    background-color: var(--accentMed);


    font-size: 500%;
    font-weight: bold;
    line-height: normal;

    color: var(--accentMain);

}

.box {
    border: 2px solid var(--accentMain);
    background-color: var(--accentMed);
    color: var(--accentMain);
    font-size: 150%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.subtitle {
    font-size: 350%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}


article {
    padding: 2rex;
    border-width: 1rex;
    border-style: solid;
    border-color: var(--accentMain);


}




.subtitle {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.subtitle {
    color: var(--accentMain);
    font-weight: bold;
    margin: 1rem 0 0 0;
    padding: 0;
}

/* Only One h1 Per Page! */
h1 {
    font-size: 350%;
    text-align: center;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 125%;
}

h5 {
    font-size: 113%;
}

h6 {
    font-size: 100%;
}





table {
    border: 2px solid var(--accentMain);
    border-collapse: collapse;
    margin: auto
}

th,
td {
    padding: 1ch;
    border: 1px solid var(--accentMain);
    border-collapse: collapse;
    vertical-align: top;

}

tr:nth-child(even) {
    background-color: var(--accentLight)
}

img {
    max-width: 100%;
}

code {
    font-family: "Courier New", monospace;
    overflow:auto;
    font-weight: 500;
    margin:auto;
    overflow:scroll;

}

.serif {
    font-family: serif;
}

blockquote {
    margin-left: 2ex;
    border-left: 0.5ex solid var(--accentMed);
    padding-left: 2ex

}
