/* kortright blue hsl(207.8,82.7%,36.3%)
#1062a9;
 */


:root {
    --accent1: hsl(207.8,82.7%,36.3%)
}

h1  {
border : 5px solid var(--accent1);
font-family: serif;
font-size: 500%;
color: 1062a9;
background-color: #aaaaaa ;

/* color: #1062a9;*/
}

body {
    font-family: sans-serif;
    background-color: #aaaaaa ;
}
