<!DOCTYPE html>
<head>
    <title>Cricket's Shorthand Website</title>
    <link rel="stylesheet" href="https://github.com/CricketBr/Crickets-Shorthand-Site/blob/main/_layouts/style1.css">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style> 
        h1 {border-bottom : 5px solid #1062a9; font-family: serif; font-size: 500%; color: #ff0000; text-align: center;}
    
       
    </style>


</head>


<html>
<body>
    <h1 > 
        2 outside <a href="https://cricketbr.github.io/Crickets-Shorthand-Site/">Cricket's Shorthand Website 11</a> 
    </h1>
    {{ content }}
</body>
</html>