<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>{{page.title}}</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Jeremy rec'd viewport to solve image scaling prob on phones -->



  <!-- egs from Jeremy's site
{% assign M = site.url | append: site.baseurl | append: "/manual" %}
{% capture S -%}
{{ site.baseurl }}/assets/supplement
{%- endcapture %} 
-->

  <!-- works <link rel="stylesheet" type="text/css" href="assets/a-theme-assets/style2.css"> -->


  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/a-theme-assets/style-default.css">


  <!-- works
<link rel="stylesheet" type="text/css" href="assets/a-theme-assets/style2.css"> 
-->

  <!-- broken
<link rel="stylesheet" type="text/css" href="/assets/a-theme-assets/style2.css">
<link rel="stylesheet" type="text/css" href="/assets/a-theme-assets/style2.css">
  -->

</head>

<body>
  <nav>
    <a href="{{site.url}}" class="sitename">{{site.title}}</a>
    <a href="{{site.url}}/#sitemap">Site Map</a>
    <a href="{{site.url}}/#contact">Contact</a>
  </nav>
  </header>
  <main>
    <!-- <h1>{{page.fulltitle}}</h1> -->



    {{ content }}




  </main>

</body>

<footer>

  <p>xxx licensing here?
  </p>
  <p>
    Page Rev. {{page.rev}}<br />
    html Rev. 134<br />
    <span class="cssrev">CSS Rev. </span>
  </p>
</footer>

</html>